select{

    border-width: 2px;

    border-color: #243666;
    border-color: white;

    height: 30px;
    width: 80px;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white !important;

}
td{
    color: #243666 !important;


}
#appoint{
    display: none;
}
#h3{
    margin-left: 50px;
    margin-top: 10px;
}
#table1{
    border-color: white !important;
}
#table2{
    border-color: white !important;
    display: none;
}
#table2 td{
    color: #243666 !important;
}
#proceed{
    width: 50%;
    height: 45px;
    margin-left: 20px;
    border-width: 2px !important;
}
#btnPrint{
    margin-left: 2px;
    margin-top: 10px;
}
#proceed2{
    width: 40%;
    height: 45px;
    margin-left: 20px;
    display: none;
    margin-bottom: 30px;
    border-width: 2px !important;

}
#proceed3{
    margin-bottom: 30px;
    border-width: 2px !important;

}
#result{
    color: #243666;
    margin-top: 30px;
    margin-left: 20px;
}






#checklist{

}
.heading{
    margin-left: 22px;
    color: #243666;
    margin-top: 20px;
    margin-bottom: 20px;
}

    background-color: #243666 !important;

}
td{
    color: #8cd8ba !important;


}
table{
    border-color: #243666 !important;
}
#proceed{
    width: 50%;
    height: 45px;
    margin-left: 20px;
}
#proceed2{
    width: 50%;
    height: 45px;
    margin-left: 20px;
    display: none;
}
#result{
    color: white;
    margin-top: 30px;
    margin-left: 20px;
}





#checklist{

}
.heading{
    margin-left: 22px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Media Queries */

@media (max-width: 720px) {
    #col1, #col2{
        display: none;

    }




}
@media (max-width: 900px) {
    #col1, #col2{
        display: none;

@media (max-width: 720px) {
    #col1, #col2{
        display: none;

=======
    }




}
@media (max-width: 900px) {
    #col1, #col2{
        display: none;

    }




}
@media (max-width: 1000px) {
    #col1, #col2{
        display: none;

    }



}





