.checkform{
}
body{
    background-color: #243665;
}
.checklist{
    margin-left:40px;
    color:#8bd8bd ;
}
form{
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}
#sym1{
    margin-left: 96px;
    margin-bottom: 3px;
}
#sym2{
    margin-left: 271px;
    margin-bottom: 3px;

}
#sym3{
    margin-bottom: 3px;

}
#sym4{
    margin-left: 275px;
    margin-bottom: 3px;

}
#sym5{
    margin-left: 260px;
    margin-bottom: 3px;

}
#sym6{
    margin-left: 114px;
    margin-bottom: 3px;

}
#sym7{
    margin-left: 239px;
    margin-bottom: 3px;

}
#sym8{
    margin-left: 114px;
    margin-bottom: 3px;

}
#sym9{
    margin-left: 226px;
    margin-bottom: 3px;

}
#sym10{
    margin-left: 117px;
    margin-bottom: 3px;

}
#sym11{
    margin-left: 166px;
    margin-bottom: 3px;

}
#sym12{
    margin-left: 238px;
    margin-bottom: 3px;

}
#sym13{
    margin-left: 126px;
    margin-bottom: 3px;

}
#proceed{
    margin-top: 30px;
    height: 40px;
    width: 130px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    border: none;
}

select{

    border-width: 2px;
    border-color: white;
    height: 30px;
    width: 80px;
}
body{
    font-family: 'Open Sans', sans-serif;

}